<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bassinga</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'tuner/favicons/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'tuner/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'tuner/favicons/favicon-48x48.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'tuner/favicons/favicon-64x64.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'tuner/favicons/favicon-96x96.png' %}"> 
    <link rel="stylesheet" href="{% static 'tuner/css/home.css' %}">
</head>

<body>
<h1>Welcome to Bassinga!</h1>
<div class="container">
      <div class="box">
<h3>Unlock the Fretboard</h3>
<p>
Bassinga is a practice tool designed to help you learn how to <strong>improvise on the bass guitar</strong>.<br><br>
Stop playing the same songs and riffs from memory. Instead, choose a <strong>scale</strong> and <strong>key</strong>, 
explore the fretboard, and build real musical awareness.<br><br>
Bassinga includes a <strong>built-in tuner</strong> that shows which notes you're playing in real time. 
This way you can have your <a href="https://bassguitarscales.org/"
      target="_blank"
      style="color: #fff; text-decoration: underline; font-weight: bold;"
      onmouseover="this.style.color='#ffd700';" 
      onmouseout="this.style.color='#fff';">cheat sheet</a> and your tuner on the same screen while playing.
Bassinga uses the microphone of your own computer, phone or any device.<br>
The goal is simple:<br>
<strong>stop relying on your eyes and start using your ears.</strong><br><br>
We recommend starting with the most commonly used scales:<br>
- <strong>Major scale (pop, rock, funk, soul, and jazz)</strong><br>
- <strong>Minor pentatonic (rock, funk, and blues)</strong><br><br>
These scales form the foundation of countless bass lines and solos.<br><br>
Need a quick refresher on music theory?<br>
👉 <a href="https://bassguitarscales.org/"
      target="_blank"
      style="color: #fff; text-decoration: underline; font-weight: bold;"
      onmouseover="this.style.color='#ffd700';" 
      onmouseout="this.style.color='#fff';">
      bassguitarscales.org
</a><br><br>
Want to play along with some songs? Maybe change some notes and make the songs your own. 
Some songs are in sections and are meant to play by ear. Press the button below. 
</p>
    <p style="text-align:center; margin-top:30px;">
        <a href="{% url 'selection' %}" 
           style="display:inline-block; padding:10px 20px; 
                  border:2px solid #555; border-radius:10px; 
                  background-color:#000000; color:#fff; text-decoration:none;
                  font-weight:bold;">
           🎵 Go to Song Selection
        </a>
    </p>
  </div>
  <div class="image">
    <img src="static/tuner/images/gettyimages-2159314240-612x612.jpg" alt="Description">
  </div>

</div>
<ul>
    {% for tab in fret_tabs %}
    <li>
        <a href="{% url 'tuner' %}?tab_id={{ tab.id }}">Start {{ tab.name }}</a>
    </li>
    {% endfor %}
</ul>
